<br>
<h2 class ="centerthis"><em>F.A.Q</em><h2>
<h2><em>Where is Soma, Kirkwood/I can't find the entrance!</em><h2>

<p>We are located at 322 E. Kirkwood Ave., in Kirkwood Manor on the corner of Grant and Kirkwood just below Laughing Planet Cafe. Although our address is on Kirkwood, the door to Soma is on Grant St, across from the church.<p></p>

<h2><em>Where is Soma, Jordan Square?</em></h2>

<p>We are located at 1400 East 3rd Street, in the Jordan Square shopping center.</p>

<h2><em>Where is Soma, Crosstown?</em></h2>

<p>We are located at 1815 East 10th St, behind the 10th St. international market, across from the Union Street dorms.</p>

<h2><em>What are your digits?</em></h2>
<ul>
<li>Kirkwood: 812-331-2770</li>


<li>Jordan Square: 812-333-7334</li>


<li>Crosstown: 812-369-4848</li>

</ul>

<h2><em>What are your operating hours?</em></h2>

<p>6am-9pm Monday-Friday, 7am-9pm Saturday and Sunday.</p>

<h2><em>Do you serve just coffee, or do you have a food menu also?</em></h2>

<p>Each location offers a variety of baked goods, including vegan and gluten free options available daily. Our Jordan Square and Crosstown locations also offer salads and sandwiches from our sister restaurant The Laughing Planet Cafe, as well as sandwiches from our other sister restaurant The Village Deli. For a better description of our offerings see our menu. If you're at our downtown location and looking for a full meal, customers of The Laughing Planet Cafe are welcome to enjoy their food in our dining room alongside one of Soma's beverages. Likewise, Soma drinks can also be brought upstairs to The Laughing Planet Cafe.</p>


