<h1 style = "text-align: center">Contact Us</h1>
<br>
<div style = "text-align: center" class="container">
<!-- 
    <h2 align="left"id="contact">.contactMe</h2> -->

    <div class="row">

      <form ngNoForm action="https://formspree.io/cardielbutler@gmail.com" method="POST">

        <div class="control-group">

          <div class="form-group">

            <label></label>

            <input id="textarea"

              type="text"

              class="form-control"

              placeholder="Your Name"

              id="name"

              required

              data-validation-required-message="Please enter your name"

              name="name"

              >

            <p class="help-block text-"></p>

          </div>

        </div>

        <div class="control-group">

          <div class="form-group">

            <label></label>

            <input id="textarea"

              type="email"

              class="form-control"

              placeholder="Your Email"

              id="email"

              required

              data-validation-required-message="Please enter your email"

              name="_replyto"

            >

            <p class="help-block text-dark"></p>

          </div>

        </div>

        <div class="control-group">

          <div class="form-group">

            <textarea id="textarea"

              class="form-control"

              rows="4"

              placeholder="Any questions or comments? Shoot us an email!"

              id="message"

              required

              data-validation-required-message="Please leave a message"

              name="message"

            ></textarea>

            <p class="help-block text-"></p>

          </div>

        </div>

        <div class="text-center">

          <div id="success"></div>

          <button id="email"type="submit" class="btn btn-lg btn-dark">

            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>

            <p>Submit</p>

          </button>

        </div>

      </form>

    </div>