/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market&display=swap');

body, html {
    height: 100%;
    margin: 0 auto;
}

html {
    color:white
}
body {
    font-family: 'Didact Gothic';
    font-size: 20px;
    background-image: url(../src/assets/Facetune.jpg); background-size: cover; background-repeat: no-repeat;
    
}
a {
    text-decoration: none;
}
.navstuff {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;
}
.navstuff a {
    color: white;
}
section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}


